.qualitelis-widget-first-email-input-container {
  display: grid;
  columns: 2;
}

.qualitelis-widget-newsletter-input {
  grid-column: 1;
}

.qualitelis-widget-validate-button-container {
  grid-column: 2;
}
